body{
    margin-left: 20%;
}


h1{
    color: black;
    font-size: 50px;
   
}

.titulo1{
    
    
    font-size: 130px;
}

.titulo2{
    
    margin-right: 31%;
    font-size: 75px;
}
.sub{
    float: left; 
    padding-left: 20px;
    margin-left: 40px;
    font-size: 20px;
}

.local{ 
    width: 1200px;
    
}



input{
    background-color: black;
    border-radius: 100%;
    padding-top: 120px;
    padding-left: 1px;
    
    
}
td{
    font-size: 10px;
}
aside{
    margin-top: 5%;
    margin-left: 45%;
    padding-bottom: 30%;
    width: 45%;
    height: 45%;
}
.job{
    float: left;
}

footer{
margin-top: 100px;
}
ul{
    font-size: 30px;
}