h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
input{
    color: rgb(0, 0, 0);
    text-align: center;
    width: 70%;
    height: 30px;
    margin-left: 13%;
    border-radius: 20px;
}
::placeholder{
    color: rgb(158, 158, 158);
    font-size: 20px;
}
body{
    background-image: url("../imgs/fondo.avif");
    background-size: cover;
}



button:hover{
    color: white;
    background-color: rgb(30, 196, 30);
}


  /*.bolita{
    background-color: aliceblue;
    border: 2px solid black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 155px;
    margin-top: 20px;*/
    


.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
label{
    color: white;
    background-color: black;
    text-align: center;
}

.ileracentral{
    align-items: center;
}
span{
    background-color: black;
    color: white;
}

button{
    
    display: inline-block;
    padding: 35px 30;
    color: rgb(30, 196, 30);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-left: 135px;
    margin-top: 20%;
    border: 2px solid black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
    
}